<%= form_for(@fare) do |f| %>
  <% if @fare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fare.errors.count, "error") %> prohibited this fare from being saved:</h2>

      <ul>
      <% @fare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :currency_type %><br>
    <%= f.text_field :currency_type %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.number_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :transfers %><br>
    <%= f.number_field :transfers %>
  </div>
  <div class="field">
    <%= f.label :transfer_duration %><br>
    <%= f.number_field :transfer_duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
