<p id="notice"><%= notice %></p>

<h1>Listing Fares</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Currency type</th>
      <th>Payment method</th>
      <th>Transfers</th>
      <th>Transfer duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fares.each do |fare| %>
      <tr>
        <td><%= fare.price %></td>
        <td><%= fare.currency_type %></td>
        <td><%= fare.payment_method %></td>
        <td><%= fare.transfers %></td>
        <td><%= fare.transfer_duration %></td>
        <td><%= link_to 'Show', fare %></td>
        <td><%= link_to 'Edit', edit_fare_path(fare) %></td>
        <td><%= link_to 'Destroy', fare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fare', new_fare_path %>
