<%= form_for(@shape) do |f| %>
  <% if @shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
      <% @shape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shape_pt_lon %><br>
    <%= f.text_field :shape_pt_lon %>
  </div>
  <div class="field">
    <%= f.label :shape_pt_lat %><br>
    <%= f.text_field :shape_pt_lat %>
  </div>
  <div class="field">
    <%= f.label :shape_pt_sequence %><br>
    <%= f.number_field :shape_pt_sequence %>
  </div>
  <div class="field">
    <%= f.label :shape_dist_traveled %><br>
    <%= f.number_field :shape_dist_traveled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
