<p id="notice"><%= notice %></p>

<p>
  <strong>Shape pt lon:</strong>
  <%= @shape.shape_pt_lon %>
</p>

<p>
  <strong>Shape pt lat:</strong>
  <%= @shape.shape_pt_lat %>
</p>

<p>
  <strong>Shape pt sequence:</strong>
  <%= @shape.shape_pt_sequence %>
</p>

<p>
  <strong>Shape dist traveled:</strong>
  <%= @shape.shape_dist_traveled %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
