<p id="notice"><%= notice %></p>

<p>
  <strong>Stop name:</strong>
  <%= @stop.stop_name %>
</p>

<p>
  <strong>Stop lat:</strong>
  <%= @stop.stop_lat %>
</p>

<p>
  <strong>Stop lon:</strong>
  <%= @stop.stop_lon %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
