<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @stop_time.trip_id %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @stop_time.arrival_time %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @stop_time.departure_time %>
</p>

<p>
  <strong>Stop sequence:</strong>
  <%= @stop_time.stop_sequence %>
</p>

<%= link_to 'Edit', edit_stop_time_path(@stop_time) %> |
<%= link_to 'Back', stop_times_path %>
