<%= form_for(@fare_route) do |f| %>
  <% if @fare_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fare_route.errors.count, "error") %> prohibited this fare_route from being saved:</h2>

      <ul>
      <% @fare_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fare_id %><br>
    <%= f.number_field :fare_id %>
  </div>
  <div class="field">
    <%= f.label :route_id %><br>
    <%= f.number_field :route_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
