<p id="notice"><%= notice %></p>

<p>
  <strong>Fare:</strong>
  <%= @fare_route.fare_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @fare_route.route_id %>
</p>

<%= link_to 'Edit', edit_fare_route_path(@fare_route) %> |
<%= link_to 'Back', fare_routes_path %>
